PORT=5000
MONGO_URI=mongodb+srv://leave_management:leave_management5570@cluster0.ibftnwf.mongodb.net/leave_management?retryWrites=true&w=majority

JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTc2OTE4Mzk3NCwiaWF0IjoxNzY5MTgzOTc0fQ.QPS_lXLfnzUH7y4w6gK2szzW_mq44VEO-FbLEwCErRM

EMAIL=collegelmsystem@gmail.com
EMAIL_PASSWORD=hnhnebouzrerazks

